@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  height: 6px; 
  width: 6px;
}

::-webkit-scrollbar-track {
  /* background: linear-gradient(to bottom, #75029b, #430b6a);  */
  background: #87F5F5; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #160078, #010030);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #130063, #00001f);
}
html, body {
  width: 100%;
  max-width: 100vw;
  font-size: 16px; 
}

